<div class="api-items">
    <div class="api-item">
        <div class="api-item-header">
            <span class="api-cont-status">{{ status }}</span>
            <span class="api-cont-type">{{ description }}</span>
        </div>
        <div class="api-item-cont">{{ body }}</div>
    </div>
</div>
