<div class="pagination pagination--area" data-skip-search-index>
    {% for child in potion.children %}
        <a href="{{ child.url }}" class="left">
            <div class="block">
                <div class="cont">
                    <div class="cont-tit">{{ child.page.title }}</div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
