<div class="pagination pagination--file">
    <a class="left" href="{{ src }}" target="_blank" data-skip-href-to-absolute>
        <div class="block">
            <div class="icon icon--attach"></div>
            <div class="cont">
                <div class="cont-tit">{{ caption }}</div>
            </div>
        </div>
    </a>
</div>
