<div class="pagination pagination--link">
    <a href="{{ url }}" class="left">
        <div class="block">
            <div class="icon icon--link"></div>
            <div class="cont">
                <div class="cont-tit">{{ title }}</div>
                <div class="cont-desc">{{ description }}</div>
            </div>
        </div>
    </a>
</div>
