<div class="f-item">
    <ul class="f-link">
        <li><a href="https://developers.nugu.co.kr/#/partners/proposition"><span>제휴제안</span></a></li>
        <li><a href="https://developers.nugu.co.kr/#/customer/terms"><span>이용약관</span></a></li>
        <li><a href="https://privacy.sktelecom.com/view.do?ctg=policy&name=policy"><strong>개인정보처리방침</strong></a></li>
    </ul>
    <ul class="f-corp">
        <li>
            <span>서울특별시 중구 을지로 65</span>
            <span>대표이사/사장  박정호</span>
        </li>
        <li><span>사업자등록번호  104-81-37225</span></li>
        <li><span>Powered by SK텔레콤</span></li>
    </ul>
    <div class="f-logo"></div>
</div>
