<!doctype html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
<div class="wrap">
    <header class="header">
        {% include header.html %}
    </header>

    <section id="section" class="section">
        <div class="flex-left flex-left--nav">
            <nav>
                {% include nav.html %}
            </nav>
            <div class="footer footer--left">
                {% include footer.html %}
            </div>
        </div>

        <div id="container_wrapper" class="flex-right flex-right--container">
            <div id="container" class="container">
                {{ content | markdownify }}
            </div>
        </div>
    </section>

    <footer class="footer footer--bottom">
        {% include footer.html %}
    </footer>
</div>
{% include image.html %}
{% include search.html %}
<div class="dimmed" style="display: none;"></div>
</body>
</html>
